/* 背景色指定 */
/* 全体 */
body{
  //background-color:green;
  background-image : url(img/星空.jpg);
  background-size: cover;
}

/*見出しの書式*/
.Header-msg {
 font-size:20px;
 color:yellow;
 position:absolute;Top:0px;Left:50px;
}

/*ボタンの親要素①*/
.button_parent_1 {
 width: 450px;
 height: 120px;
 font-size: 40px;
 text-align: center;
 display: table-cell;
 vertical-align: middle;
 background: #F0F;
 position:relative;
 Top:30px;
 Left:100px;
}
/*ボタンの親要素②*/
.button_parent_2 {
 width: 450px;
 height: 380px;
 vertical-align: middle;
 background: #0FF;
 position:relative;
 Top:30px;
 Left:100px;
}


/*ボタン(ヘッダ)*/
.btn-square {
  display: inline-block;
  padding: 1em 1em;
  text-decoration: none;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}

/*ボタンを押したとき*/
.btn-square:active {
 -webkit-transform: translateY(4px);
 transform: translateY(4px);/*下に動く*/
 border-bottom: none;/*線を消す*/
}
